table{
    text-align: center;
    color: rgba(11, 2, 19, 0.718);
    border-collapse:collapse ;
}
table td, table th{
    border: 1px solid rgba(3, 1, 5, 0.712);
    padding: 10px;
    
}
img{
    width: 100px;
    height: 100px;
}