<div class="container">
    <div class="row">
        <div class="search-hero">
            <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for a hero by id or name or country">
          </div>
    <div class="Product-List">
        <h1>All Product List</h1>
        <table>
            <thead>
                <tr>
                    <th>Image </th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Color</th>
                    <th>Catagory</th>
                    <th>Description</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of productList">
                    <td><img src="{{item.Image}}"></td>
                    <td>{{item.name}}</td>
                    <td>{{item.Price}}</td>
                    <td>{{item.color}}</td>
                    <td>{{item.Catagory}}</td>
                    <td>{{item.Description}}</td>
                <td><button type="button" class="btn btn-primary" (click)="DeleteProduct(item.id)">Delete</button></td>
                </tr>
            </tbody>

        </table>
    </div>
</div></div>